<div class="h-[100vh] w-[100vw] bg-[url('assets/bg.jpg')] bg-cover bg-center">
    <div class="h-full w-full bg-[#0009]">
        <div class="container mx-auto h-full flex flex-col justify-center items-center text-white px-8">
            <div class="flex flex-col items-center text-center bg-[#0005] p-8 rounded-xl">
                <div class="mb-5">
                    <img src="assets/casas.png" class="w-[130px]">
                </div>
                <div>
                    <h1 class="font-bold text-2xl md:text-4xl">{{title}}</h1>
                    <p class="max-w-[700px] mx-auto text-xs md:text-sm mt-3 mb-10">Quão grande fã de Harry Potter você
                        é? Talvez
                        você
                        tenha
                        encenado uma
                        maratona
                        de
                        filmes ou
                        criado uma
                        festa temática. Talvez você tenha memorizado os livros e saiba os filmes de cor, ou pode ter
                        dificuldade
                        em se identificar com uma das quatro casas. Faça o quiz agora e descubra qual casa você faria
                        parte, se
                        fosse para Hogwarts.</p>
                </div>
                <button class=" border-2 border-gray-300 px-6 py-2 rounded text-md scale-95 hover:scale-100 lg:px-8 lg:py-4
                            hover:bg-gray-300 hover:text-black duration-300" routerLink="quiz">Descubra</button>
            </div>
        </div>
    </div>
</div>